## Settings file was created by plugin Fermenter Percentage v1.0.0
## Plugin GUID: org.ltmadness.valheim.fermenterpercentage

[Advanced]

## Adds smooth color change to %/time
# Setting type: Boolean
# Default value: false
Use color = false

## Should the progress bar be off/red/yellow
# Setting type: ProgressBar
# Default value: OFF
# Acceptable values: OFF, RED, YELLOW
Progress Bar = OFF

[General]

## Should the progress text be off/percent/time left
# Setting type: ProgressText
# Default value: PERCENT
# Acceptable values: OFF, PERCENT, TIME
Progress Text = PERCENT

